In [30]:
import pandas as pd

In [50]:
# read the dataset
df=pd.read_csv("Shark Tank India.csv")

In [19]:
len(df)

447

In [22]:
len(df.columns)

80

In [51]:
df = df[df['Episode Title'] != 'Unseen']

In [52]:
general_info=['Season Number', 'Startup Name',
              'Episode Number', 'Pitch Number',
              'Episode Title','Anchor', 'Industry',
              'Number of Presenters','Pitchers Average Age',
              'Original Ask Amount', 'Original Offered Equity',
              'Valuation Requested', 'Received Offer', 'Accepted Offer',
              'Total Deal Amount', 'Total Deal Equity',  'Deal Valuation', 
              'Number of Sharks in Deal','Pitchers State']

In [53]:
time_details=['Season Start', 'Season End', 'Original Air Date']

In [61]:
pitchers_business_details=['Bootstrapped','Company Website',
                           'Started in', 'Male Presenters',
                           'Female Presenters', 'Transgender Presenters', 
                           'Couple Presenters','Pitchers City']

In [55]:
brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 
                      'Gross Margin', 'Net Margin',
                      'EBITDA', 'Cash Burn','SKUs', 
                      'Has Patents','Part of Match off',
                      'Deal Has Conditions', 'Royalty Percentage', 
                      'Royalty Recouped Amount','Advisory Shares Equity']

In [56]:
sharks_presence=['Namita Present', 
                 'Vineeta Present', 'Anupam Present',
                 'Aman Present','Peyush Present',
                 'Ritesh Present', 'Amit Present', 'Guest Present']

In [57]:
Debt_details=['Total Deal Debt','Debt Interest','Namita Debt Amount',
              'Vineeta Debt Amount','Anupam Debt Amount',
              'Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

In [58]:
sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity',  
                                 'Vineeta Investment Amount', 'Vineeta Investment Equity', 
                                 'Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity',  
                                 'Peyush Investment Amount', 'Peyush Investment Equity', 
                                 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

In [59]:
guest_related=['All Guest Names']

In [62]:
removing_col=brand_renvue_details+pitchers_business_details+sharks_ivestment_equity_details+Debt_details 
filtered_df=df.drop(columns=removing_col)

In [63]:
len(filtered_df)

447

In [64]:
len(filtered_df.columns)

33

In [43]:
guest_list=['Ashneer','Azhar','Ghazal',
            'Deepinder','Radhika','Vikas',
            'Ronnie','Varun']

In [65]:
j=0
for i in guest_list:
    new_col=guest_list[j]+'_present'
    filtered_df[new_col]=filtered_df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df[new_col] = filtered_df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df['All Guest Names'] = filtered_df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    filtered_df['All Guest Names'] = filtered_df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    j+=1

In [45]:
len(filtered_df.columns)

42

In [66]:
df['Namita_deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Vineeta_deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Anupam_deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Aman_deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['peyush_deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Ritesh_deal'] = df['Ritesh Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Amit_deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [67]:
k=0
for i in guest_list:
    new_col=guest_list_short_cut[k]+'_deal'
    filtered_df[new_col]=filtered_df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df[new_col] = filtered_df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df['Invested Guest Name'] = filtered_df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    filtered_df['Invested Guest Name'] = filtered_df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    k+=1

In [75]:
filtered_df.drop(columns=['Invested Guest Name','All Guest Names'],inplace=True)

In [84]:
filtered_df['deal_amount_per_shark']=filtered_df['Total Deal Amount']/filtered_df['Number of Sharks in Deal']
filtered_df['equity_per_shark']=filtered_df['Total Deal Equity']/filtered_df['Number of Sharks in Deal']

In [70]:
df['Pitchers State']=df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

In [86]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Season Number             447 non-null    int64
 1   Startup Name              447 non-null    object
 2   Episode Number            447 non-null    int64
 3   Pitch Number              447 non-null    int64
 4   Season Start              447 non-null    object
 5   Season End                447 non-null    object
 6   Original Air Date         447 non-null    object
 7   Episode Title             447 non-null    object
 8   Anchor                    447 non-null    object
 9   Industry                  447 non-null    object
 10  Business Description      447 non-null    object
 11  Number of Presenters      447 non-null    int64
 12  Pitchers Average Age      447 non-null    object
 13  Pitchers State            443 non-null    object
 14  Original Ask Amount       447 non-null    float64
 15  Original Offered Equity   447 non-null    float64
 16  Valuation Requested       447 non-null    float64
 17  Received Offer            447 non-null    int64
 18  Accepted Offer            447 non-null    int32
 19  Total Deal Amount         447 non-null    float64
 20  Total Deal Equity         447 non-null    float64
 21  Deal Valuation            447 non-null    float64
 22  Number of Sharks in Deal  447 non-null    int64
 23  Namita Present            447 non-null    int32
 24  Vineeta Present           447 non-null    int32
 25  Anupam Present            447 non-null    int32
 26  Aman Present              447 non-null    int32
 27  Peyush Present            447 non-null    int32
 28  Ritesh Present            447 non-null    int32
 29  Amit Present              447 non-null    int32
 30  Guest Present             447 non-null    int32
 31  Ashneer_present           447 non-null    int64
 32  Azhar_present             447 non-null    int64
 33  Ghazal_present            447 non-null    int64
 34  Deepinder_present         447 non-null    int64
 35  Radhika_present           447 non-null    int64
 36  Vikas_present             447 non-null    int64
 37  Ronnie_present            447 non-null    int64
 38  Varun_present             447 non-null    int64
 39  Ashneer_deal              447 non-null    int64
 40  Azhar_deal                447 non-null    int64
 41  Ghazal_deal               447 non-null    int64
 42  Deepinder_deal            447 non-null    int64
 43  Radhika_deal              447 non-null    int64
 44  Vikas_deal                447 non-null    int64
 45  Ronnie_deal               447 non-null    int64
 46  Varun_deal                447 non-null    int64
 47  deal_amount_per_shark     447 non-null    float64
 48  equity_per_shark          447 non-null    float64
dtypes: float64(8), int32(9), int64(22), object(10)
memory usage: 158.9+ KB

In [72]:
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].fillna(0)
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].astype(int)

In [79]:
for i in time_details:
    filtered_df[i] = pd.to_datetime(filtered_df[i], errors='coerce')
    filtered_df[i]=filtered_df[i].dt.strftime('%d %b %Y')

C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\3578010399.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered_df[i] = pd.to_datetime(filtered_df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\3578010399.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered_df[i] = pd.to_datetime(filtered_df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\3578010399.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered_df[i] = pd.to_datetime(filtered_df[i], errors='coerce')

In [77]:
for i in sharks_presence:
    filtered_df[i]=filtered_df[i].fillna(0)
    filtered_df[i]=filtered_df[i].astype(int)

In [85]:
filtered_df['Number of Sharks in Deal']=filtered_df['Number of Sharks in Deal'].fillna(0)
filtered_df['Number of Sharks in Deal']=filtered_df['Number of Sharks in Deal'].astype('int64')
filtered_df['Total Deal Amount']=filtered_df['Total Deal Amount'].fillna(0)
filtered_df['Total Deal Equity']=filtered_df['Total Deal Equity'].fillna(0)
filtered_df['Deal Valuation']=filtered_df['Deal Valuation'].fillna(0)
filtered_df['deal_amount_per_shark']=filtered_df['deal_amount_per_shark'].fillna(0)
filtered_df['equity_per_shark']=filtered_df['equity_per_shark'].fillna(0)

In [87]:
filtered_df.to_csv("filtered_df.csv")