In [140]:
import pandas as pd

In [151]:
# read the dataset
df=pd.read_csv("Shark Tank India.csv")

In [142]:
len(df)

478

In [152]:
len(df.columns)

80

In [144]:
df = df[df['Episode Title'] != 'Unseen']

In [153]:

general_info=['Season Number', 'Startup Name',
              'Episode Number', 'Pitch Number',
              'Episode Title','Anchor', 'Industry',
              'Number of Presenters','Pitchers Average Age',
              'Original Ask Amount', 'Original Offered Equity',
              'Valuation Requested', 'Received Offer', 'Accepted Offer',
              'Total Deal Amount', 'Total Deal Equity',  'Deal Valuation', 
              'Number of Sharks in Deal','Pitchers State']

In [154]:
time_details=['Season Start', 'Season End', 'Original Air Date']

In [155]:
pitchers_business_details=['Bootstrapped','Company Website',
                           'Started in', 'Male Presenters',
                           'Female Presenters', 'Transgender Presenters', 
                           'Couple Presenters','Pitchers City']

In [156]:
brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 
                      'Gross Margin', 'Net Margin',
                      'EBITDA', 'Cash Burn','SKUs', 
                      'Has Patents','Part of Match off',
                      'Deal Has Conditions', 'Royalty Percentage', 
                      'Royalty Recouped Amount','Advisory Shares Equity']

In [157]:
sharks_presence=['Namita Present', 
                 'Vineeta Present', 'Anupam Present',
                 'Aman Present','Peyush Present',
                 'Ritesh Present', 'Amit Present', 'Guest Present']

In [158]:
Debt_details=['Total Deal Debt','Debt Interest','Namita Debt Amount',
              'Vineeta Debt Amount','Anupam Debt Amount',
              'Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

In [159]:
sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity',  
                                 'Vineeta Investment Amount', 'Vineeta Investment Equity', 
                                 'Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity',  
                                 'Peyush Investment Amount', 'Peyush Investment Equity', 
                                 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

In [160]:
guest_related=['All Guest Names']

In [133]:
len(filtered_df)

447

In [134]:
len(filtered_df.columns)

33

In [161]:
guest_list=['Ashneer','Azhar','Ghazal',
            'Deepinder','Radhika','Vikas',
            'Ronnie','Varun']

In [162]:
j=0
for i in guest_list:
    new_col=guest_list[j]+' Present'
    df[new_col]=filtered_df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df[new_col] =  df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df['All Guest Names'] = df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    df['All Guest Names'] = df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    j+=1

In [137]:
len(filtered_df.columns)

41

In [163]:
df['Namita Deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Vineeta Deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Anupam Deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Aman Deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['peyush Deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Ritesh Deal'] = df['Ritesh Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Amit Deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [165]:
k=0
for i in guest_list:
    new_col=guest_list_short_cut[k]+' Deal'
    df[new_col] = df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df[new_col] = df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df['Invested Guest Name'] = df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    df['Invested Guest Name'] = df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    k+=1

In [166]:
df.drop(columns=['Invested Guest Name','All Guest Names'],inplace=True)

In [167]:
df['deal_amount_per_shark']= df['Total Deal Amount']/filtered_df['Number of Sharks in Deal']
df['equity_per_shark']= df['Total Deal Equity']/filtered_df['Number of Sharks in Deal']

In [168]:
df['Pitchers State'] = df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

In [170]:
df['Accepted Offer'] = df['Accepted Offer'].fillna(0)
df['Accepted Offer'] = df['Accepted Offer'].astype(int)

In [171]:
for i in time_details:
    df[i] = pd.to_datetime(df[i], errors='coerce')
    df[i] = df[i].dt.strftime('%d %b %Y')

C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\1039943576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\1039943576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\1039943576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')

In [172]:
for i in sharks_presence:
    df[i] = df[i].fillna(0)
    df[i] = df[i].astype(int)

In [173]:
df['Number of Sharks in Deal'] = df['Number of Sharks in Deal'].fillna(0)
df['Number of Sharks in Deal'] = df['Number of Sharks in Deal'].astype('int64')
df['Total Deal Amount'] = df['Total Deal Amount'].fillna(0)
df['Total Deal Equity'] = df['Total Deal Equity'].fillna(0)
df['Deal Valuation'] = df['Deal Valuation'].fillna(0)
df['deal_amount_per_shark'] = df['deal_amount_per_shark'].fillna(0)
df['equity_per_shark'] = df['equity_per_shark'].fillna(0)

In [174]:
removing_col=brand_renvue_details+pitchers_business_details+sharks_ivestment_equity_details+Debt_details 
filtered_df=df.drop(columns=removing_col)

In [175]:
df.to_csv("filtered_df.csv")

In [176]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Season Number             478 non-null    int64
 1   Startup Name              478 non-null    object
 2   Episode Number            478 non-null    int64
 3   Pitch Number              478 non-null    int64
 4   Season Start              478 non-null    object
 5   Season End                478 non-null    object
 6   Original Air Date         447 non-null    object
 7   Episode Title             478 non-null    object
 8   Anchor                    478 non-null    object
 9   Industry                  478 non-null    object
 10  Business Description      478 non-null    object
 11  Number of Presenters      478 non-null    int64
 12  Pitchers Average Age      478 non-null    object
 13  Pitchers State            478 non-null    object
 14  Original Ask Amount       478 non-null    float64
 15  Original Offered Equity   478 non-null    float64
 16  Valuation Requested       478 non-null    float64
 17  Received Offer            478 non-null    int64
 18  Accepted Offer            478 non-null    int32
 19  Total Deal Amount         478 non-null    float64
 20  Total Deal Equity         478 non-null    float64
 21  Deal Valuation            478 non-null    float64
 22  Number of Sharks in Deal  478 non-null    int64
 23  Namita Present            478 non-null    int32
 24  Vineeta Present           478 non-null    int32
 25  Anupam Present            478 non-null    int32
 26  Aman Present              478 non-null    int32
 27  Peyush Present            478 non-null    int32
 28  Ritesh Present            478 non-null    int32
 29  Amit Present              478 non-null    int32
 30  Guest Present             478 non-null    int32
 31  Ashneer Present           478 non-null    int64
 32  Azhar Present             478 non-null    int64
 33  Ghazal Present            478 non-null    int64
 34  Deepinder Present         478 non-null    int64
 35  Radhika Present           478 non-null    int64
 36  Vikas Present             478 non-null    int64
 37  Ronnie Present            478 non-null    int64
 38  Varun Present             478 non-null    int64
 39  Namita Deal               478 non-null    int64
 40  Vineeta Deal              478 non-null    int64
 41  Anupam Deal               478 non-null    int64
 42  Aman Deal                 478 non-null    int64
 43  peyush Deal               478 non-null    int64
 44  Ritesh Deal               478 non-null    int64
 45  Amit Deal                 478 non-null    int64
 46  Ashneer Deal              478 non-null    int64
 47  Azhar Deal                478 non-null    int64
 48  Ghazal Deal               478 non-null    int64
 49  Deepinder Deal            478 non-null    int64
 50  Radhika Deal              478 non-null    int64
 51  Vikas Deal                478 non-null    int64
 52  Ronnie Deal               478 non-null    int64
 53  Varun Deal                478 non-null    int64
 54  deal_amount_per_shark     478 non-null    float64
 55  equity_per_shark          478 non-null    float64
dtypes: float64(8), int32(9), int64(29), object(10)
memory usage: 192.4+ KB