In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("Shark Tank India.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 80 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              552 non-null    int64
 1   Startup Name               552 non-null    object
 2   Episode Number             552 non-null    int64
 3   Pitch Number               552 non-null    int64
 4   Season Start               552 non-null    object
 5   Season End                 478 non-null    object
 6   Original Air Date          521 non-null    object
 7   Episode Title              552 non-null    object
 8   Anchor                     552 non-null    object
 9   Industry                   552 non-null    object
 10  Business Description       552 non-null    object
 11  Company Website            537 non-null    object
 12  Started in                 402 non-null    float64
 13  Number of Presenters       552 non-null    int64
 14  Male Presenters            486 non-null    float64
 15  Female Presenters          300 non-null    float64
 16  Transgender Presenters     3 non-null      float64
 17  Couple Presenters          552 non-null    int64
 18  Pitchers Average Age       552 non-null    object
 19  Pitchers City              546 non-null    object
 20  Pitchers State             548 non-null    object
 21  Yearly Revenue             291 non-null    float64
 22  Monthly Sales              261 non-null    float64
 23  Gross Margin               144 non-null    float64
 24  Net Margin                 86 non-null     float64
 25  EBITDA                     45 non-null     float64
 26  Cash Burn                  85 non-null     object
 27  SKUs                       39 non-null     float64
 28  Has Patents                54 non-null     object
 29  Bootstrapped               83 non-null     object
 30  Part of Match off          6 non-null      object
 31  Original Ask Amount        552 non-null    float64
 32  Original Offered Equity    552 non-null    float64
 33  Valuation Requested        552 non-null    float64
 34  Received Offer             552 non-null    int64
 35  Accepted Offer             377 non-null    float64
 36  Total Deal Amount          317 non-null    float64
 37  Total Deal Equity          317 non-null    float64
 38  Total Deal Debt            66 non-null     float64
 39  Debt Interest              49 non-null     float64
 40  Deal Valuation             316 non-null    float64
 41  Number of Sharks in Deal   317 non-null    float64
 42  Deal Has Conditions        33 non-null     object
 43  Royalty Percentage         26 non-null     float64
 44  Royalty Recouped Amount    26 non-null     float64
 45  Advisory Shares Equity     7 non-null      float64
 46  Namita Investment Amount   101 non-null    float64
 47  Namita Investment Equity   101 non-null    float64
 48  Namita Debt Amount         18 non-null     float64
 49  Vineeta Investment Amount  77 non-null     float64
 50  Vineeta Investment Equity  77 non-null     float64
 51  Vineeta Debt Amount        13 non-null     float64
 52  Anupam Investment Amount   86 non-null     float64
 53  Anupam Investment Equity   86 non-null     float64
 54  Anupam Debt Amount         8 non-null      float64
 55  Aman Investment Amount     127 non-null    float64
 56  Aman Investment Equity     127 non-null    float64
 57  Aman Debt Amount           18 non-null     float64
 58  Peyush Investment Amount   98 non-null     float64
 59  Peyush Investment Equity   98 non-null     float64
 60  Peyush Debt Amount         12 non-null     float64
 61  Ritesh Investment Amount   39 non-null     float64
 62  Ritesh Investment Equity   39 non-null     float64
 63  Ritesh Debt Amount         10 non-null     float64
 64  Amit Investment Amount     35 non-null     float64
 65  Amit Investment Equity     35 non-null     float64
 66  Amit Debt Amount           7 non-null      float64
 67  Guest Investment Amount    58 non-null     float64
 68  Guest Investment Equity    58 non-null     float64
 69  Guest Debt Amount          5 non-null      float64
 70  Invested Guest Name        58 non-null     object
 71  All Guest Names            247 non-null    object
 72  Namita Present             436 non-null    float64
 73  Vineeta Present            368 non-null    float64
 74  Anupam Present             486 non-null    float64
 75  Aman Present               486 non-null    float64
 76  Peyush Present             351 non-null    float64
 77  Ritesh Present             93 non-null     float64
 78  Amit Present               137 non-null    float64
 79  Guest Present              247 non-null    float64
dtypes: float64(55), int64(6), object(19)
memory usage: 345.1+ KB