In [2]:
import pandas as pd

In [199]:
# read the dataset
df=pd.read_csv("Shark Tank India.csv")

In [142]:
len(df)

478

In [152]:
len(df.columns)

80

In [144]:
df = df[df['Episode Title'] != 'Unseen']

In [153]:

general_info=['Season Number', 'Startup Name',
              'Episode Number', 'Pitch Number',
              'Episode Title','Anchor', 'Industry',
              'Number of Presenters','Pitchers Average Age',
              'Original Ask Amount', 'Original Offered Equity',
              'Valuation Requested', 'Received Offer', 'Accepted Offer',
              'Total Deal Amount', 'Total Deal Equity',  'Deal Valuation', 
              'Number of Sharks in Deal','Pitchers State']

In [154]:
time_details=['Season Start', 'Season End', 'Original Air Date']

In [155]:
pitchers_business_details=['Bootstrapped','Company Website',
                           'Started in', 'Male Presenters',
                           'Female Presenters', 'Transgender Presenters', 
                           'Couple Presenters','Pitchers City']

In [156]:
brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 
                      'Gross Margin', 'Net Margin',
                      'EBITDA', 'Cash Burn','SKUs', 
                      'Has Patents','Part of Match off',
                      'Deal Has Conditions', 'Royalty Percentage', 
                      'Royalty Recouped Amount','Advisory Shares Equity']

In [157]:
sharks_presence=['Namita Present', 
                 'Vineeta Present', 'Anupam Present',
                 'Aman Present','Peyush Present',
                 'Ritesh Present', 'Amit Present', 'Guest Present']

In [158]:
Debt_details=['Total Deal Debt','Debt Interest','Namita Debt Amount',
              'Vineeta Debt Amount','Anupam Debt Amount',
              'Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

In [159]:
sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity',  
                                 'Vineeta Investment Amount', 'Vineeta Investment Equity', 
                                 'Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity',  
                                 'Peyush Investment Amount', 'Peyush Investment Equity', 
                                 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

In [160]:
guest_related=['All Guest Names']

In [133]:
len(filtered_df)

447

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 80 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              478 non-null    int64
 1   Startup Name               478 non-null    object
 2   Episode Number             478 non-null    int64
 3   Pitch Number               478 non-null    int64
 4   Season Start               478 non-null    object
 5   Season End                 478 non-null    object
 6   Original Air Date          447 non-null    object
 7   Episode Title              478 non-null    object
 8   Anchor                     478 non-null    object
 9   Industry                   478 non-null    object
 10  Business Description       478 non-null    object
 11  Company Website            466 non-null    object
 12  Started in                 355 non-null    float64
 13  Number of Presenters       478 non-null    int64
 14  Male Presenters            412 non-null    float64
 15  Female Presenters          226 non-null    float64
 16  Transgender Presenters     3 non-null      float64
 17  Couple Presenters          478 non-null    int64
 18  Pitchers Average Age       478 non-null    object
 19  Pitchers City              473 non-null    object
 20  Pitchers State             474 non-null    object
 21  Yearly Revenue             241 non-null    float64
 22  Monthly Sales              225 non-null    float64
 23  Gross Margin               129 non-null    float64
 24  Net Margin                 73 non-null     float64
 25  EBITDA                     23 non-null     float64
 26  Cash Burn                  64 non-null     object
 27  SKUs                       28 non-null     float64
 28  Has Patents                44 non-null     object
 29  Bootstrapped               48 non-null     object
 30  Part of Match off          4 non-null      object
 31  Original Ask Amount        478 non-null    float64
 32  Original Offered Equity    478 non-null    float64
 33  Valuation Requested        478 non-null    float64
 34  Received Offer             478 non-null    int64
 35  Accepted Offer             321 non-null    float64
 36  Total Deal Amount          268 non-null    float64
 37  Total Deal Equity          268 non-null    float64
 38  Total Deal Debt            62 non-null     float64
 39  Debt Interest              45 non-null     float64
 40  Deal Valuation             267 non-null    float64
 41  Number of Sharks in Deal   268 non-null    float64
 42  Deal Has Conditions        26 non-null     object
 43  Royalty Percentage         18 non-null     float64
 44  Royalty Recouped Amount    18 non-null     float64
 45  Advisory Shares Equity     3 non-null      float64
 46  Namita Investment Amount   89 non-null     float64
 47  Namita Investment Equity   89 non-null     float64
 48  Namita Debt Amount         17 non-null     float64
 49  Vineeta Investment Amount  68 non-null     float64
 50  Vineeta Investment Equity  68 non-null     float64
 51  Vineeta Debt Amount        12 non-null     float64
 52  Anupam Investment Amount   75 non-null     float64
 53  Anupam Investment Equity   75 non-null     float64
 54  Anupam Debt Amount         8 non-null      float64
 55  Aman Investment Amount     109 non-null    float64
 56  Aman Investment Equity     109 non-null    float64
 57  Aman Debt Amount           18 non-null     float64
 58  Peyush Investment Amount   89 non-null     float64
 59  Peyush Investment Equity   89 non-null     float64
 60  Peyush Debt Amount         12 non-null     float64
 61  Ritesh Investment Amount   26 non-null     float64
 62  Ritesh Investment Equity   26 non-null     float64
 63  Ritesh Debt Amount         7 non-null      float64
 64  Amit Investment Amount     35 non-null     float64
 65  Amit Investment Equity     35 non-null     float64
 66  Amit Debt Amount           7 non-null      float64
 67  Guest Investment Amount    45 non-null     float64
 68  Guest Investment Equity    45 non-null     float64
 69  Guest Debt Amount          5 non-null      float64
 70  Invested Guest Name        45 non-null     object
 71  All Guest Names            191 non-null    object
 72  Namita Present             389 non-null    float64
 73  Vineeta Present            318 non-null    float64
 74  Anupam Present             424 non-null    float64
 75  Aman Present               420 non-null    float64
 76  Peyush Present             307 non-null    float64
 77  Ritesh Present             60 non-null     float64
 78  Amit Present               137 non-null    float64
 79  Guest Present              191 non-null    float64
dtypes: float64(55), int64(6), object(19)
memory usage: 298.9+ KB

In [134]:
len(filtered_df.columns)

33

In [195]:
guest_list=['Ashneer','Azhar','Ghazal',
            'Deepinder','Radhika','Vikas',
            'Ronnie','Varun']

In [201]:
j=0
for i in guest_list:
    new_col=guest_list[j]+' Present'
    df[new_col]= df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df[new_col] =  df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df['All Guest Names'] = df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    df['All Guest Names'] = df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    j+=1

In [137]:
len(filtered_df.columns)

41

In [202]:
df['Namita Deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Vineeta Deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Anupam Deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Aman Deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Peyush Deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Ritesh Deal'] = df['Ritesh Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Amit Deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [203]:
k=0
for i in guest_list:
    new_col=guest_list_short_cut[k]+' Deal'
    df[new_col] = df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df[new_col] = df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df['Invested Guest Name'] = df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    df['Invested Guest Name'] = df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    k+=1

In [204]:
df.drop(columns=['Invested Guest Name','All Guest Names'],inplace=True)

In [205]:
df['deal_amount_per_shark']= df['Total Deal Amount']/filtered_df['Number of Sharks in Deal']
df['equity_per_shark']= df['Total Deal Equity']/filtered_df['Number of Sharks in Deal']

In [206]:
df['Pitchers State'] = df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

In [207]:
df['Accepted Offer'] = df['Accepted Offer'].fillna(0)
df['Accepted Offer'] = df['Accepted Offer'].astype(int)

In [208]:
for i in time_details:
    df[i] = pd.to_datetime(df[i], errors='coerce')
    df[i] = df[i].dt.strftime('%d %b %Y')

C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\1039943576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\1039943576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_56336\1039943576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')

In [209]:
for i in sharks_presence:
    df[i] = df[i].fillna(0)
    df[i] = df[i].astype(int)

In [210]:
df['Number of Sharks in Deal'] = df['Number of Sharks in Deal'].fillna(0)
df['Number of Sharks in Deal'] = df['Number of Sharks in Deal'].astype('int64')
df['Total Deal Amount'] = df['Total Deal Amount'].fillna(0)
df['Total Deal Equity'] = df['Total Deal Equity'].fillna(0)
df['Deal Valuation'] = df['Deal Valuation'].fillna(0)
df['deal_amount_per_shark'] = df['deal_amount_per_shark'].fillna(0)
df['equity_per_shark'] = df['equity_per_shark'].fillna(0)

In [211]:
removing_col=brand_renvue_details+pitchers_business_details+sharks_ivestment_equity_details+Debt_details 
filtered_df=df.drop(columns=removing_col)

In [212]:
df.to_csv("filtered_df.csv")

In [9]:
df=pd.read_csv("Shark Tank India.csv")

df = df[df['Episode Title'] != 'Unseen']

general_info=['Season Number', 'Startup Name',
              'Episode Number', 'Pitch Number',
              'Episode Title','Anchor', 'Industry',
              'Number of Presenters','Pitchers Average Age',
              'Original Ask Amount', 'Original Offered Equity',
              'Valuation Requested', 'Received Offer', 'Accepted Offer',
              'Total Deal Amount', 'Total Deal Equity',  'Deal Valuation', 
              'Number of Sharks in Deal','Pitchers State',
              'Boot Strapped']


time_details=['Season Start', 'Season End', 'Original Air Date']

pitchers_business_details=['Company Website',
                           'Started in', 'Male Presenters',
                           'Female Presenters', 'Transgender Presenters', 
                           'Couple Presenters','Pitchers City']

brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 
                      'Gross Margin', 'Net Margin',
                      'EBITDA', 'Cash Burn','SKUs', 
                      'Has Patents','Part of Match off',
                      'Deal Has Conditions', 'Royalty Percentage', 
                      'Royalty Recouped Amount','Advisory Shares Equity']

sharks_presence=['Namita Present', 
                 'Vineeta Present', 'Anupam Present',
                 'Aman Present','Peyush Present',
                 'Ritesh Present', 'Amit Present', 'Guest Present']

Debt_details=['Total Deal Debt','Debt Interest','Namita Debt Amount',
              'Vineeta Debt Amount','Anupam Debt Amount','Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity','Vineeta Investment Amount', 
                                 'Vineeta Investment Equity','Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity','Peyush Investment Amount',
                                 'Peyush Investment Equity', 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

guest_related=['All Guest Names']




guest_list=['Ashneer','Azhar','Ghazal',
            'Deepinder','Radhika','Vikas',
            'Ronnie','Varun']
j=0
for i in guest_list:
    new_col=guest_list[j]+' Present'
    df[new_col]= df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df[new_col] =  df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df['All Guest Names'] = df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    df['All Guest Names'] = df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    j+=1


df['Namita Deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Vineeta Deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Anupam Deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Aman Deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Peyush Deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Ritesh Deal'] = df['Ritesh Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Amit Deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

k=0
for i in guest_list:
    new_col=guest_list[k]+' Deal'
    df[new_col] = df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df[new_col] = df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    df['Invested Guest Name'] = df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    df['Invested Guest Name'] = df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    k+=1


df.drop(columns=['Invested Guest Name','All Guest Names'],inplace=True)


for i in sharks_presence:
    df[i] = df[i].fillna(0)
    df[i] = df[i].astype(int)


df['deal_amount_per_shark']= df['Total Deal Amount']/df['Number of Sharks in Deal']
df['equity_per_shark']= df['Total Deal Equity']/df['Number of Sharks in Deal']

df['Pitchers State'] = df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

df['Accepted Offer'] = df['Accepted Offer'].fillna(0)
df['Accepted Offer'] = df['Accepted Offer'].astype(int)

for i in time_details:
    df[i] = pd.to_datetime(df[i], errors='coerce')
    df[i] = df[i].dt.strftime('%d %b %Y')


df['Number of Sharks in Deal'] = df['Number of Sharks in Deal'].fillna(0)
df['Number of Sharks in Deal'] = df['Number of Sharks in Deal'].astype('int64')
df['Total Deal Amount'] = df['Total Deal Amount'].fillna(0)
df['Total Deal Equity'] = df['Total Deal Equity'].fillna(0)
df['Deal Valuation'] = df['Deal Valuation'].fillna(0)
df['deal_amount_per_shark'] = df['deal_amount_per_shark'].fillna(0)
df['equity_per_shark'] = df['equity_per_shark'].fillna(0)


removing_col=brand_renvue_details+pitchers_business_details+sharks_ivestment_equity_details+Debt_details 
filtered_df=df.drop(columns=removing_col)

C:\Users\nissi\AppData\Local\Temp\ipykernel_35972\931319729.py:99: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_35972\931319729.py:99: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')
C:\Users\nissi\AppData\Local\Temp\ipykernel_35972\931319729.py:99: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[i] = pd.to_datetime(df[i], errors='coerce')

In [10]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Season Number             447 non-null    int64
 1   Startup Name              447 non-null    object
 2   Episode Number            447 non-null    int64
 3   Pitch Number              447 non-null    int64
 4   Season Start              447 non-null    object
 5   Season End                447 non-null    object
 6   Original Air Date         447 non-null    object
 7   Episode Title             447 non-null    object
 8   Anchor                    447 non-null    object
 9   Industry                  447 non-null    object
 10  Business Description      447 non-null    object
 11  Number of Presenters      447 non-null    int64
 12  Pitchers Average Age      447 non-null    object
 13  Pitchers State            447 non-null    object
 14  Bootstrapped              48 non-null     object
 15  Original Ask Amount       447 non-null    float64
 16  Original Offered Equity   447 non-null    float64
 17  Valuation Requested       447 non-null    float64
 18  Received Offer            447 non-null    int64
 19  Accepted Offer            447 non-null    int32
 20  Total Deal Amount         447 non-null    float64
 21  Total Deal Equity         447 non-null    float64
 22  Deal Valuation            447 non-null    float64
 23  Number of Sharks in Deal  447 non-null    int64
 24  Namita Present            447 non-null    int32
 25  Vineeta Present           447 non-null    int32
 26  Anupam Present            447 non-null    int32
 27  Aman Present              447 non-null    int32
 28  Peyush Present            447 non-null    int32
 29  Ritesh Present            447 non-null    int32
 30  Amit Present              447 non-null    int32
 31  Guest Present             447 non-null    int32
 32  Ashneer Present           447 non-null    int64
 33  Azhar Present             447 non-null    int64
 34  Ghazal Present            447 non-null    int64
 35  Deepinder Present         447 non-null    int64
 36  Radhika Present           447 non-null    int64
 37  Vikas Present             447 non-null    int64
 38  Ronnie Present            447 non-null    int64
 39  Varun Present             447 non-null    int64
 40  Namita Deal               447 non-null    int64
 41  Vineeta Deal              447 non-null    int64
 42  Anupam Deal               447 non-null    int64
 43  Aman Deal                 447 non-null    int64
 44  Peyush Deal               447 non-null    int64
 45  Ritesh Deal               447 non-null    int64
 46  Amit Deal                 447 non-null    int64
 47  Ashneer Deal              447 non-null    int64
 48  Azhar Deal                447 non-null    int64
 49  Ghazal Deal               447 non-null    int64
 50  Deepinder Deal            447 non-null    int64
 51  Radhika Deal              447 non-null    int64
 52  Vikas Deal                447 non-null    int64
 53  Ronnie Deal               447 non-null    int64
 54  Varun Deal                447 non-null    int64
 55  deal_amount_per_shark     447 non-null    float64
 56  equity_per_shark          447 non-null    float64
dtypes: float64(8), int32(9), int64(29), object(11)
memory usage: 186.8+ KB