In [1]:
import pandas as pd

In [2]:
filtered_df=pd.read_csv("filtered_df.csv")

In [3]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                447 non-null    int64
 1   Season Number             447 non-null    int64
 2   Startup Name              447 non-null    object
 3   Episode Number            447 non-null    int64
 4   Pitch Number              447 non-null    int64
 5   Season Start              447 non-null    object
 6   Season End                447 non-null    object
 7   Original Air Date         447 non-null    object
 8   Episode Title             447 non-null    object
 9   Anchor                    447 non-null    object
 10  Industry                  447 non-null    object
 11  Number of Presenters      447 non-null    int64
 12  Pitchers Average Age      447 non-null    object
 13  Pitchers State            447 non-null    object
 14  Original Ask Amount       447 non-null    float64
 15  Original Offered Equity   447 non-null    float64
 16  Valuation Requested       447 non-null    float64
 17  Received Offer            447 non-null    int64
 18  Accepted Offer            447 non-null    int64
 19  Total Deal Amount         447 non-null    float64
 20  Total Deal Equity         447 non-null    float64
 21  Deal Valuation            447 non-null    float64
 22  Number of Sharks in Deal  447 non-null    int64
 23  Namita Present            447 non-null    int64
 24  Vineeta Present           447 non-null    int64
 25  Anupam Present            447 non-null    int64
 26  Aman Present              447 non-null    int64
 27  Peyush Present            447 non-null    int64
 28  Ritesh Present            447 non-null    int64
 29  Amit Present              447 non-null    int64
 30  Guest Present             447 non-null    int64
 31  Aman Deal                 447 non-null    int64
 32  Namita Deal               447 non-null    int64
 33  Vineeta Deal              447 non-null    int64
 34  Anupam Deal               447 non-null    int64
 35  Peyush Deal               447 non-null    int64
 36  Ritesh Deal               447 non-null    int64
 37  Amit Deal                 447 non-null    int64
 38  deal_amount_per_shark     447 non-null    float64
 39  equity_per_shark          447 non-null    float64
 40  Boot Strapped             447 non-null    int64
 41  Ashneer Present           447 non-null    int64
 42  Azhar Present             447 non-null    int64
 43  Ghazal Present            447 non-null    int64
 44  Deepinder Present         447 non-null    int64
 45  Radhika Present           447 non-null    int64
 46  Vikas Present             447 non-null    int64
 47  Ronnie Present            447 non-null    int64
 48  Varun Present             447 non-null    int64
 49  Ashneer Deal              447 non-null    int64
 50  Azhar Deal                447 non-null    int64
 51  Ghazal Deal               447 non-null    int64
 52  Deepinder Deal            447 non-null    int64
 53  Radhika Deal              447 non-null    int64
 54  Vikas Deal                447 non-null    int64
 55  Ronnie Deal               447 non-null    int64
 56  Varun Deal                447 non-null    int64
dtypes: float64(8), int64(40), object(9)
memory usage: 199.2+ KB

In [2]:
df=pd.read_csv("Shark Tank India.csv")

df = df[df['Episode Title'] != 'Unseen']

df['Aman_deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Namita_deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Vineeta_deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Anupam_deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['peyush_deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Ritesh_deal'] = df['Ritesh Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Amit_deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)


df['deal_amount_per_shark']=df['Total Deal Amount']/df['Number of Sharks in Deal']
df['equity_per_shark']=df['Total Deal Equity']/df['Number of Sharks in Deal']


df['Boot Strapped']=df['Bootstrapped'].map(lambda x: 1 if x in ['yes', 'funded'] else 0)
df.drop('Bootstrapped' , axis=1, inplace=True)
df['Pitchers State']=df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

general_info=['Season Number', 'Startup Name',
              'Episode Number', 'Pitch Number',
              'Episode Title','Anchor', 'Industry',
              'Number of Presenters','Pitchers Average Age',
              'Original Ask Amount', 'Original Offered Equity',
              'Valuation Requested', 'Received Offer', 'Accepted Offer',
              'Total Deal Amount', 'Total Deal Equity',  'Deal Valuation', 
              'Number of Sharks in Deal','Pitchers State',
              'Boot Strapped']


time_details=['Season Start', 'Season End', 'Original Air Date']

pitchers_business_details=['Business Description','Company Website',
                           'Started in', 'Male Presenters',
                           'Female Presenters', 'Transgender Presenters', 
                           'Couple Presenters','Pitchers City']

brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 
                      'Gross Margin', 'Net Margin',
                      'EBITDA', 'Cash Burn',
                      'SKUs', 'Has Patents','Part of Match off']

more_into_pitching_brands=['Deal Has Conditions', 'Royalty Percentage', 
                           'Royalty Recouped Amount','Advisory Shares Equity']

sharks_presence=['Namita Present', 
                 'Vineeta Present', 'Anupam Present',
                 'Aman Present','Peyush Present',
                 'Ritesh Present', 'Amit Present', 'Guest Present']

Debt_details=['Total Deal Debt','Debt Interest','Namita Debt Amount', 'Vineeta Debt Amount','Anupam Debt Amount','Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity',  
                                 'Vineeta Investment Amount', 'Vineeta Investment Equity', 
                                 'Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity',  
                                 'Peyush Investment Amount', 'Peyush Investment Equity', 
                                 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

guest_related=['All Guest Names',]


removing_col=brand_renvue_details+pitchers_business_details+sharks_ivestment_equity_details+Debt_details+more_into_pitching_brands
filtered_df=df.drop(columns=removing_col)

In [3]:
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].fillna(-1)
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].astype(int)

In [45]:
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].fillna(-1)
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].astype(int)
for i in sharks_presence:
    filtered_df[i]=filtered_df[i].fillna(0)
    filtered_df[i]=filtered_df[i].astype(int)
filtered_df['Number of Sharks in Deal']=filtered_df['Number of Sharks in Deal'].fillna(0)
filtered_df['Number of Sharks in Deal']=filtered_df['Number of Sharks in Deal'].astype('int64')
filtered_df['Total Deal Amount']=filtered_df['Total Deal Amount'].fillna(0)
filtered_df['Total Deal Equity']=filtered_df['Total Deal Equity'].fillna(0)
filtered_df['Deal Valuation']=filtered_df['Deal Valuation'].fillna(0)
filtered_df['deal_amount_per_shark']=filtered_df['deal_amount_per_shark'].fillna(0)
filtered_df['equity_per_shark']=filtered_df['equity_per_shark'].fillna(0)

In [87]:
season1_df=filtered_df[filtered_df['Season Number']==1] 
season1_df.to_csv("s1.csv")

In [105]:
season2_df=filtered_df[filtered_df['Season Number']==2] 
season2_df.to_csv("s2.csv")

In [51]:
season3_df=filtered_df[filtered_df['Season Number']==3] 
season3_df.to_csv("s3.csv")

In [ ]:
df[

In [69]:
season1_sharks_present=[]
season2_sharks_present=[]
season3_sharks_present=[]
season1_sharks_deal=[]
season2_sharks_deal=[]
season3_sharks_deal=[]

In [11]:
filtered_df['All Guest Names'].value_counts()

All Guest Names
Ashneer Grover                    92
Azhar Iqubal                      25
Ghazal Alagh                      19
Deepinder Goyal                   18
Radhika Gupta                     15
Ghazal Alagh,Ashneer Grover        7
Vikas D Nahar                      4
Ronnie Screwvala,Radhika Gupta     3
Varun Dua,Radhika Gupta            3
Azhar Iqubal,Radhika Gupta         3
Name: count, dtype: int64

In [12]:
filtered_df['Invested Guest Name'].value_counts()

Invested Guest Name
Ashneer Grover                 20
Ghazal Alagh                    6
Azhar Iqubal                    5
Radhika Gupta                   4
Vikas D Nahar                   2
Ronnie Screwvala                2
Ghazal Alagh,Ashneer Grover     1
Deepinder Goyal                 1
Varun Dua,Radhika Gupta         1
Varun Dua                       1
Azhar Iqubal,Radhika Gupta      1
Name: count, dtype: int64

In [37]:
Guest_list=['Ashneer Grover','Azhar Iqubal','Ghazal Alagh',
            'Deepinder Goyal','Radhika Gupta','Vikas D Nahar',
            'Ronnie Screwvala','Varun Dua']
guest_list_short_cut=['Ashneer','Azhar','Ghazal',
            'Deepinder','Radhika','Vikas',
            'Ronnie','Varun']

In [8]:
j=0
for i in Guest_list:
    new_col=guest_list_short_cut[j]+'_present'
    filtered_df[new_col]=filtered_df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df[new_col] = filtered_df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df['All Guest Names'] = filtered_df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    filtered_df['All Guest Names'] = filtered_df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    j+=1


k=0
for i in Guest_list:
    new_col=guest_list_short_cut[k]+'_deal'
    filtered_df[new_col]=filtered_df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df[new_col] = filtered_df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df['Invested Guest Name'] = filtered_df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    filtered_df['Invested Guest Name'] = filtered_df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    k+=1

In [ ]:
filtered_df.to_csv("k.csv")

In [17]:
filtered_df['All Guest Names'].value_counts()

All Guest Names
     173
,     16
Name: count, dtype: int64

In [18]:
filtered_df['Invested Guest Name'].value_counts()

Invested Guest Name
     41
,     3
Name: count, dtype: int64

In [12]:
filtered_df.to_csv("filtered_df.csv")

In [10]:
filtered_df.drop(columns=['Invested Guest Name','All Guest Names'],inplace=True)

In [27]:
season1_df['Episode Number'].nunique()

36

In [28]:
season3_df['Episode Number'].nunique()

52

In [30]:
season1_df['Anchor'].nunique()

1

In [34]:
season3_df['Anchor'].mode()[0]

'Rahul Dua'

In [41]:
season1_df['Season Start'].max()

'20 Dec 2021'

In [ ]:
filtered_df['Season Start']=filtered_df['Season Start'].dt.strftime('%Y-%m-%d')

In [38]:
for i in time_details:
    filtered_df[i] = pd.to_datetime(filtered_df[i], errors='coerce')
    filtered_df[i]=filtered_df[i].dt.strftime('%d %b %Y')

In [42]:
season1_df['Pitch Number'].nunique()

122

In [43]:
season3_df['Pitch Number'].nunique()

157

In [44]:
season1_df['Total Deal Amount'].sum()

3964.60106

In [45]:
season3_df['Total Deal Amount'].sum()

6730.0125

In [ ]:
f"â‚¹{season3_df['Total Deal Amount'].sum() / 100:.2f} crores"

In [11]:
filtered_df.to_csv("a.csv")

In [17]:
season1_df.to_csv("b.csv")

In [18]:
season2_df.to_csv("c.csv")

In [20]:
season3_df.to_csv("f.csv")

In [ ]:
season1_df.info()

In [ ]:
season1_df.info()

In [22]:
season1_df['Received Offer'].sum()

90

In [23]:
season1_df[season1_df['Received Offer'] == 1].shape[0]

90

In [24]:
season1_df['Received Offer'].eq(0).sum()

32

In [25]:
season1_df['Received Offer'].eq(1).sum()

90

In [6]:
All_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush','Ritesh','Amit',
                'Ashneer','Azhar','Ghazal','Deepinder',
                'Radhika','Vikas','Ronnie','Varun']
All_guests=['Ashneer','Azhar','Ghazal','Deepinder',
                'Radhika','Vikas','Ronnie','Varun']
season1_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush','Ashneer',
                'Ghazal']
season1_guests=[ 'Ashneer','Ghazal' ]
season2_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush','Amit','Vikas']
season2_guests=['Ashneer','Azhar','Ghazal','Deepinder',
                'Radhika','Vikas','Ronnie','Varun']
season3_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush','Ritesh','Amit',
                'Azhar','Deepinder','Radhika',
                'Ronnie','Varun']
season3_guests=['Azhar','Ghazal','Deepinder',
                'Radhika','Ronnie','Varun']

In [11]:
season_sharks=season3_sharks+season3_guests

In [12]:
season_sharks

['Namita',
 'Vineeta',
 'Anupam',
 'Aman',
 'Peyush',
 'Ritesh',
 'Amit',
 'Azhar',
 'Deepinder',
 'Radhika',
 'Ronnie',
 'Varun',
 'Azhar',
 'Ghazal',
 'Deepinder',
 'Radhika',
 'Ronnie',
 'Varun']

In [68]:
def count_shark_presence(data, shark_names):
    presence_counts = {}
    for shark_name in shark_names:
        present_column = f"{shark_name} Present"
        if present_column in data.columns:
             presence_counts[shark_name]=data[present_column].sum()
        else:
            print(f"Warning: Column for {shark_name} not found in the data.")
            

    return presence_counts

In [92]:
def count_shark_deal(data, shark_names):
    deal_counts = {}
    for shark_name in shark_names:
        deal_column = f"{shark_name} Deal"
        if deal_column in data.columns:
             deal_counts[shark_name]=data[deal_column].sum()
        else:
            print(f"Warning: Column for {shark_name} not found in the data.")
            

    return deal_counts

In [69]:
All_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush','Ritesh','Amit',
                'Ashneer','Azhar','Ghazal','Deepinder',
                'Radhika','Vikas','Ronnie','Varun']
All_guests=['Ashneer','Azhar','Ghazal','Deepinder',
                'Radhika','Vikas','Ronnie','Varun']
season1_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush']
season1_guests=[ 'Ashneer','Ghazal' ]
season2_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush','Amit','Vikas']
season2_guests=['Ashneer','Azhar','Ghazal','Deepinder',
                'Radhika','Vikas','Ronnie','Varun']
season3_sharks=['Namita','Vineeta','Anupam',
                'Aman','Peyush','Ritesh','Amit',
                'Azhar','Deepinder','Radhika',
                'Ronnie','Varun']
season3_guests=['Azhar','Ghazal','Deepinder',
                'Radhika','Ronnie','Varun']

In [71]:
season_sharks=season1_sharks+season1_guests

In [103]:
season_sharks=season2_sharks+season2_guests

In [104]:
print(count_shark_presence(season1_df,season_sharks))

{'Namita': 111, 'Vineeta': 71, 'Anupam': 118, 'Aman': 103, 'Peyush': 92, 'Amit': 0, 'Vikas': 0, 'Ashneer': 99, 'Azhar': 0, 'Ghazal': 26, 'Deepinder': 0, 'Radhika': 0, 'Ronnie': 0, 'Varun': 0}

In [93]:
print(count_shark_deal(season2_df,season_sharks))

{'Namita': 25, 'Vineeta': 17, 'Anupam': 25, 'Aman': 30, 'Peyush': 28, 'Ashneer': 21, 'Ghazal': 7}

In [97]:
df=pd.read_csv("Shark Tank India.csv")

df = df[df['Episode Title'] != 'Unseen']

df['Aman Deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Namita Deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Vineeta Deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Anupam Deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Peyush Deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Ritesh Deal'] = df['Ritesh Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Amit Deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)


df['deal_amount_per_shark']=df['Total Deal Amount']/df['Number of Sharks in Deal']
df['equity_per_shark']=df['Total Deal Equity']/df['Number of Sharks in Deal']


df['Boot Strapped']=df['Bootstrapped'].map(lambda x: 1 if x in ['yes', 'funded'] else 0)
df.drop('Bootstrapped' , axis=1, inplace=True)
df['Pitchers State']=df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

general_info=['Season Number', 'Startup Name',
              'Episode Number', 'Pitch Number',
              'Episode Title','Anchor', 'Industry',
              'Number of Presenters','Pitchers Average Age',
              'Original Ask Amount', 'Original Offered Equity',
              'Valuation Requested', 'Received Offer', 'Accepted Offer',
              'Total Deal Amount', 'Total Deal Equity',  'Deal Valuation', 
              'Number of Sharks in Deal','Pitchers State',
              'Boot Strapped']


time_details=['Season Start', 'Season End', 'Original Air Date']

pitchers_business_details=['Business Description','Company Website',
                           'Started in', 'Male Presenters',
                           'Female Presenters', 'Transgender Presenters', 
                           'Couple Presenters','Pitchers City']

brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 
                      'Gross Margin', 'Net Margin',
                      'EBITDA', 'Cash Burn',
                      'SKUs', 'Has Patents','Part of Match off']

more_into_pitching_brands=['Deal Has Conditions', 'Royalty Percentage', 
                           'Royalty Recouped Amount','Advisory Shares Equity']

sharks_presence=['Namita Present', 
                 'Vineeta Present', 'Anupam Present',
                 'Aman Present','Peyush Present',
                 'Ritesh Present', 'Amit Present', 'Guest Present']

Debt_details=['Total Deal Debt','Debt Interest','Namita Debt Amount', 'Vineeta Debt Amount','Anupam Debt Amount','Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity',  
                                 'Vineeta Investment Amount', 'Vineeta Investment Equity', 
                                 'Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity',  
                                 'Peyush Investment Amount', 'Peyush Investment Equity', 
                                 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

guest_related=['All Guest Names',]


removing_col=brand_renvue_details+pitchers_business_details+sharks_ivestment_equity_details+Debt_details+more_into_pitching_brands
filtered_df=df.drop(columns=removing_col)

In [98]:
j=0
for i in Guest_list:
    new_col=guest_list_short_cut[j]+' Present'
    filtered_df[new_col]=filtered_df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df[new_col] = filtered_df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df['All Guest Names'] = filtered_df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    filtered_df['All Guest Names'] = filtered_df['All Guest Names'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    j+=1


k=0
for i in Guest_list:
    new_col=guest_list_short_cut[k]+' Deal'
    filtered_df[new_col]=filtered_df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df[new_col] = filtered_df['Invested Guest Name'].apply(lambda x: 1 if pd.notna(x) and i in x else 0)
    filtered_df['Invested Guest Name'] = filtered_df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    filtered_df['Invested Guest Name'] = filtered_df['Invested Guest Name'].apply(lambda x: x.replace(i, '').strip() if pd.notna(x) else x)
    k+=1

In [99]:
filtered_df.drop(columns=['Invested Guest Name','All Guest Names'],inplace=True)

In [100]:
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].fillna(-1)
filtered_df['Accepted Offer']=filtered_df['Accepted Offer'].astype(int)
for i in sharks_presence:
    filtered_df[i]=filtered_df[i].fillna(0)
    filtered_df[i]=filtered_df[i].astype(int)
filtered_df['Number of Sharks in Deal']=filtered_df['Number of Sharks in Deal'].fillna(0)
filtered_df['Number of Sharks in Deal']=filtered_df['Number of Sharks in Deal'].astype('int64')
filtered_df['Total Deal Amount']=filtered_df['Total Deal Amount'].fillna(0)
filtered_df['Total Deal Equity']=filtered_df['Total Deal Equity'].fillna(0)
filtered_df['Deal Valuation']=filtered_df['Deal Valuation'].fillna(0)
filtered_df['deal_amount_per_shark']=filtered_df['deal_amount_per_shark'].fillna(0)
filtered_df['equity_per_shark']=filtered_df['equity_per_shark'].fillna(0)

In [101]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Season Number             447 non-null    int64
 1   Startup Name              447 non-null    object
 2   Episode Number            447 non-null    int64
 3   Pitch Number              447 non-null    int64
 4   Season Start              447 non-null    object
 5   Season End                447 non-null    object
 6   Original Air Date         447 non-null    object
 7   Episode Title             447 non-null    object
 8   Anchor                    447 non-null    object
 9   Industry                  447 non-null    object
 10  Number of Presenters      447 non-null    int64
 11  Pitchers Average Age      447 non-null    object
 12  Pitchers State            447 non-null    object
 13  Original Ask Amount       447 non-null    float64
 14  Original Offered Equity   447 non-null    float64
 15  Valuation Requested       447 non-null    float64
 16  Received Offer            447 non-null    int64
 17  Accepted Offer            447 non-null    int32
 18  Total Deal Amount         447 non-null    float64
 19  Total Deal Equity         447 non-null    float64
 20  Deal Valuation            447 non-null    float64
 21  Number of Sharks in Deal  447 non-null    int64
 22  Namita Present            447 non-null    int32
 23  Vineeta Present           447 non-null    int32
 24  Anupam Present            447 non-null    int32
 25  Aman Present              447 non-null    int32
 26  Peyush Present            447 non-null    int32
 27  Ritesh Present            447 non-null    int32
 28  Amit Present              447 non-null    int32
 29  Guest Present             447 non-null    int32
 30  Aman Deal                 447 non-null    int64
 31  Namita Deal               447 non-null    int64
 32  Vineeta Deal              447 non-null    int64
 33  Anupam Deal               447 non-null    int64
 34  Peyush Deal               447 non-null    int64
 35  Ritesh Deal               447 non-null    int64
 36  Amit Deal                 447 non-null    int64
 37  deal_amount_per_shark     447 non-null    float64
 38  equity_per_shark          447 non-null    float64
 39  Boot Strapped             447 non-null    int64
 40  Ashneer Present           447 non-null    int64
 41  Azhar Present             447 non-null    int64
 42  Ghazal Present            447 non-null    int64
 43  Deepinder Present         447 non-null    int64
 44  Radhika Present           447 non-null    int64
 45  Vikas Present             447 non-null    int64
 46  Ronnie Present            447 non-null    int64
 47  Varun Present             447 non-null    int64
 48  Ashneer Deal              447 non-null    int64
 49  Azhar Deal                447 non-null    int64
 50  Ghazal Deal               447 non-null    int64
 51  Deepinder Deal            447 non-null    int64
 52  Radhika Deal              447 non-null    int64
 53  Vikas Deal                447 non-null    int64
 54  Ronnie Deal               447 non-null    int64
 55  Varun Deal                447 non-null    int64
dtypes: float64(8), int32(9), int64(30), object(9)
memory usage: 183.3+ KB

In [102]:
filtered_df.to_csv("filtered_df.csv")

In [106]:
All_sharks-season1_guests

TypeError: unsupported operand type(s) for -: 'list' and 'list'