In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Shark Tank India.csv")

In [76]:
df.columns

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Season End', 'Original Air Date', 'Episode Title',
       'Anchor', 'Industry', 'Business Description', 'Company Website',
       'Started in', 'Number of Presenters', 'Male Presenters',
       'Female Presenters', 'Transgender Presenters', 'Couple Presenters',
       'Pitchers Average Age', 'Pitchers City', 'Pitchers State',
       'Yearly Revenue', 'Monthly Sales', 'Gross Margin', 'Net Margin',
       'EBITDA', 'Cash Burn', 'SKUs', 'Has Patents', 'Bootstrapped',
       'Part of Match off', 'Original Ask Amount', 'Original Offered Equity',
       'Valuation Requested', 'Received Offer', 'Accepted Offer',
       'Total Deal Amount', 'Total Deal Equity', 'Total Deal Debt',
       'Debt Interest', 'Deal Valuation', 'Number of Sharks in Deal',
       'Deal Has Conditions', 'Royalty Percentage', 'Royalty Recouped Amount',
       'Advisory Shares Equity', 'Namita Investment Amount',
       'Namita Investment Equity', 'Namita Debt Amount',
       'Vineeta Investment Amount', 'Vineeta Investment Equity',
       'Vineeta Debt Amount', 'Anupam Investment Amount',
       'Anupam Investment Equity', 'Anupam Debt Amount',
       'Aman Investment Amount', 'Aman Investment Equity', 'Aman Debt Amount',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Peyush Debt Amount', 'Ritesh Investment Amount',
       'Ritesh Investment Equity', 'Ritesh Debt Amount',
       'Amit Investment Amount', 'Amit Investment Equity', 'Amit Debt Amount',
       'Guest Investment Amount', 'Guest Investment Equity',
       'Guest Debt Amount', 'Invested Guest Name', 'All Guest Names',
       'Namita Present', 'Vineeta Present', 'Anupam Present', 'Aman Present',
       'Peyush Present', 'Ritesh Present', 'Amit Present', 'Guest Present'],
      dtype='object')

In [88]:
unwanted_col=['Male Presenters','Female Presenters','Transgender Presenters','Couple Presenters',
     'Net Margin','EBITDA','SKUs','Cash Burn','Has Patents','Part of Match off',
     'Total Deal Debt','Debt Interest','Royalty Percentage','Royalty Recouped Amount',
     'Gross Margin','Advisory Shares Equity','Pitchers City','Vineeta Debt Amount',
     'Anupam Debt Amount','Peyush Debt Amount','Amit Debt Amount','Ritesh Debt Amount',
     'Guest Debt Amount','Deal Has Conditions','Aman Debt Amount']

In [78]:
general_info=['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
                'Original Ask Amount', 'Original Offered Equity','Valuation Requested',
                'Received Offer', 'Accepted Offer','Total Deal Amount', 'Total Deal Equity', 
                'Number of Sharks in Deal',]

In [79]:
company_data=['Industry', 'Business Description', 'Company Website',
       'Started in', 'Number of Presenters', 'Male Presenters',
       'Female Presenters', 'Transgender Presenters', 'Couple Presenters',
       'Pitchers Average Age', 'Pitchers City', 'Pitchers State',
       'Yearly Revenue', 'Monthly Sales', 'Gross Margin', 'Net Margin',
       'EBITDA', 'Cash Burn', 'SKUs', 'Has Patents', 'Bootstrapped',
       'Part of Match off']

In [82]:
sharks_presence=['All Guest Names',
       'Namita Present', 'Vineeta Present', 'Anupam Present', 'Aman Present',
       'Peyush Present', 'Ritesh Present', 'Amit Present', 'Guest Present']

In [21]:
df = df[df['Episode Title'] != 'Unseen']

In [116]:
df = df.drop(columns=unwanted_col)

In [104]:
df.columns

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Season End', 'Original Air Date', 'Episode Title',
       'Anchor', 'Industry', 'Business Description', 'Company Website',
       'Started in', 'Number of Presenters', 'Pitchers Average Age',
       'Pitchers State', 'Yearly Revenue', 'Monthly Sales', 'Bootstrapped',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Received Offer', 'Accepted Offer', 'Total Deal Amount',
       'Total Deal Equity', 'Deal Valuation', 'Number of Sharks in Deal',
       'Namita Investment Amount', 'Namita Investment Equity',
       'Namita Debt Amount', 'Vineeta Investment Amount',
       'Vineeta Investment Equity', 'Anupam Investment Amount',
       'Anupam Investment Equity', 'Aman Investment Amount',
       'Aman Investment Equity', 'Peyush Investment Amount',
       'Peyush Investment Equity', 'Ritesh Investment Amount',
       'Ritesh Investment Equity', 'Amit Investment Amount',
       'Amit Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Invested Guest Name', 'All Guest Names',
       'Namita Present', 'Vineeta Present', 'Anupam Present', 'Aman Present',
       'Peyush Present', 'Ritesh Present', 'Amit Present', 'Guest Present',
       'Boot Strapped'],
      dtype='object')

In [93]:
sharks_details=['Season Number','Episode Number', 'Pitch Number',
                'Valuation Requested', 'Received Offer', 'Accepted Offer',
       'Total Deal Amount', 'Total Deal Equity', 'Deal Valuation',
       'Number of Sharks in Deal','Namita Investment Amount',
       'Namita Investment Equity', 'Namita Debt Amount',
       'Vineeta Investment Amount', 'Vineeta Investment Equity',
       'Anupam Investment Amount', 'Anupam Investment Equity',
       'Aman Investment Amount', 'Aman Investment Equity',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Ritesh Investment Amount', 'Ritesh Investment Equity',
       'Amit Investment Amount', 'Amit Investment Equity',
       'Guest Investment Amount', 'Guest Investment Equity',
       'Invested Guest Name', 'All Guest Names', 'Namita Present',
       'Vineeta Present', 'Anupam Present', 'Aman Present', 'Peyush Present',
       'Ritesh Present', 'Amit Present', 'Guest Present']

In [3]:
df['deal_amount_per_shark']=df['Total Deal Amount']/df['Number of Sharks in Deal']

In [4]:
df['equity_per_shark']=df['Total Deal Equity']/df['Number of Sharks in Deal']

In [5]:
df['Pitchers State']=df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

In [6]:
df['Boot Strapped']=df['Bootstrapped'].map(lambda x: 1 if x in ['yes', 'funded'] else 0)

In [7]:
df['Boot Strapped'].value_counts()

Boot Strapped
0    430
1     48
Name: count, dtype: int64

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 59 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              447 non-null    int64
 1   Startup Name               447 non-null    object
 2   Episode Number             447 non-null    int64
 3   Pitch Number               447 non-null    int64
 4   Season Start               447 non-null    object
 5   Season End                 447 non-null    object
 6   Original Air Date          447 non-null    object
 7   Episode Title              447 non-null    object
 8   Anchor                     447 non-null    object
 9   Industry                   447 non-null    object
 10  Business Description       447 non-null    object
 11  Company Website            437 non-null    object
 12  Started in                 325 non-null    float64
 13  Number of Presenters       447 non-null    int64
 14  Pitchers Average Age       447 non-null    object
 15  Pitchers State             447 non-null    object
 16  Yearly Revenue             235 non-null    float64
 17  Monthly Sales              215 non-null    float64
 18  Bootstrapped               48 non-null     object
 19  Original Ask Amount        447 non-null    float64
 20  Original Offered Equity    447 non-null    float64
 21  Valuation Requested        447 non-null    float64
 22  Received Offer             447 non-null    int64
 23  Accepted Offer             314 non-null    float64
 24  Total Deal Amount          267 non-null    float64
 25  Total Deal Equity          267 non-null    float64
 26  Deal Valuation             266 non-null    float64
 27  Number of Sharks in Deal   267 non-null    float64
 28  Namita Investment Amount   89 non-null     float64
 29  Namita Investment Equity   89 non-null     float64
 30  Namita Debt Amount         17 non-null     float64
 31  Vineeta Investment Amount  68 non-null     float64
 32  Vineeta Investment Equity  68 non-null     float64
 33  Anupam Investment Amount   75 non-null     float64
 34  Anupam Investment Equity   75 non-null     float64
 35  Aman Investment Amount     109 non-null    float64
 36  Aman Investment Equity     109 non-null    float64
 37  Peyush Investment Amount   88 non-null     float64
 38  Peyush Investment Equity   88 non-null     float64
 39  Ritesh Investment Amount   26 non-null     float64
 40  Ritesh Investment Equity   26 non-null     float64
 41  Amit Investment Amount     35 non-null     float64
 42  Amit Investment Equity     35 non-null     float64
 43  Guest Investment Amount    44 non-null     float64
 44  Guest Investment Equity    44 non-null     float64
 45  Invested Guest Name        44 non-null     object
 46  All Guest Names            189 non-null    object
 47  Namita Present             388 non-null    float64
 48  Vineeta Present            317 non-null    float64
 49  Anupam Present             424 non-null    float64
 50  Aman Present               419 non-null    float64
 51  Peyush Present             306 non-null    float64
 52  Ritesh Present             60 non-null     float64
 53  Amit Present               136 non-null    float64
 54  Guest Present              189 non-null    float64
 55  deal_amount_per_shark      267 non-null    float64
 56  equity_per_shark           267 non-null    float64
 57  Boot Strapped              447 non-null    int64
 58  Aman_deal                  447 non-null    int64
dtypes: float64(38), int64(7), object(14)
memory usage: 209.5+ KB

In [66]:
df.to_csv('sharks.csv')

In [8]:
df['Aman_deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [9]:
df['Namita_deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [10]:
df['Vineeta_deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [11]:
df['Anupam_deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [12]:
df['peyush_deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [13]:
df['Amit_deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)

In [125]:
df['Aman_deal'].value_counts()

Aman_deal
0    369
1    109
Name: count, dtype: int64

In [148]:
df['Guest Present'].value_counts()

Guest Present
1.0    175
2.0     16
Name: count, dtype: int64

In [14]:
df['Ritesh Investment Amount'].count()

26

In [15]:
df[['Guest1_present', 'Guest2_present']] = df['All Guest Names'].str.split(',', expand=True)

In [16]:
df['Ashneer Present']=

SyntaxError: invalid syntax (1347504506.py, line 1)

In [17]:
df['Ashneer Present'] = df.apply(lambda row: 1 if 'Ashneer Grover' in [row['Guest1_present'], row['Guest2_present']] else 0, axis=1)

In [18]:
df['New_Col'].value_counts()

KeyError: 'New_Col'

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 92 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              447 non-null    int64
 1   Startup Name               447 non-null    object
 2   Episode Number             447 non-null    int64
 3   Pitch Number               447 non-null    int64
 4   Season Start               447 non-null    object
 5   Season End                 447 non-null    object
 6   Original Air Date          447 non-null    object
 7   Episode Title              447 non-null    object
 8   Anchor                     447 non-null    object
 9   Industry                   447 non-null    object
 10  Business Description       447 non-null    object
 11  Company Website            437 non-null    object
 12  Started in                 325 non-null    float64
 13  Number of Presenters       447 non-null    int64
 14  Male Presenters            383 non-null    float64
 15  Female Presenters          209 non-null    float64
 16  Transgender Presenters     1 non-null      float64
 17  Couple Presenters          447 non-null    int64
 18  Pitchers Average Age       447 non-null    object
 19  Pitchers City              442 non-null    object
 20  Pitchers State             447 non-null    object
 21  Yearly Revenue             235 non-null    float64
 22  Monthly Sales              215 non-null    float64
 23  Gross Margin               126 non-null    float64
 24  Net Margin                 73 non-null     float64
 25  EBITDA                     23 non-null     float64
 26  Cash Burn                  61 non-null     object
 27  SKUs                       28 non-null     float64
 28  Has Patents                43 non-null     object
 29  Bootstrapped               48 non-null     object
 30  Part of Match off          4 non-null      object
 31  Original Ask Amount        447 non-null    float64
 32  Original Offered Equity    447 non-null    float64
 33  Valuation Requested        447 non-null    float64
 34  Received Offer             447 non-null    int64
 35  Accepted Offer             314 non-null    float64
 36  Total Deal Amount          267 non-null    float64
 37  Total Deal Equity          267 non-null    float64
 38  Total Deal Debt            62 non-null     float64
 39  Debt Interest              45 non-null     float64
 40  Deal Valuation             266 non-null    float64
 41  Number of Sharks in Deal   267 non-null    float64
 42  Deal Has Conditions        26 non-null     object
 43  Royalty Percentage         18 non-null     float64
 44  Royalty Recouped Amount    18 non-null     float64
 45  Advisory Shares Equity     3 non-null      float64
 46  Namita Investment Amount   89 non-null     float64
 47  Namita Investment Equity   89 non-null     float64
 48  Namita Debt Amount         17 non-null     float64
 49  Vineeta Investment Amount  68 non-null     float64
 50  Vineeta Investment Equity  68 non-null     float64
 51  Vineeta Debt Amount        12 non-null     float64
 52  Anupam Investment Amount   75 non-null     float64
 53  Anupam Investment Equity   75 non-null     float64
 54  Anupam Debt Amount         8 non-null      float64
 55  Aman Investment Amount     109 non-null    float64
 56  Aman Investment Equity     109 non-null    float64
 57  Aman Debt Amount           18 non-null     float64
 58  Peyush Investment Amount   88 non-null     float64
 59  Peyush Investment Equity   88 non-null     float64
 60  Peyush Debt Amount         12 non-null     float64
 61  Ritesh Investment Amount   26 non-null     float64
 62  Ritesh Investment Equity   26 non-null     float64
 63  Ritesh Debt Amount         7 non-null      float64
 64  Amit Investment Amount     35 non-null     float64
 65  Amit Investment Equity     35 non-null     float64
 66  Amit Debt Amount           7 non-null      float64
 67  Guest Investment Amount    44 non-null     float64
 68  Guest Investment Equity    44 non-null     float64
 69  Guest Debt Amount          5 non-null      float64
 70  Invested Guest Name        44 non-null     object
 71  All Guest Names            189 non-null    object
 72  Namita Present             388 non-null    float64
 73  Vineeta Present            317 non-null    float64
 74  Anupam Present             424 non-null    float64
 75  Aman Present               419 non-null    float64
 76  Peyush Present             306 non-null    float64
 77  Ritesh Present             60 non-null     float64
 78  Amit Present               136 non-null    float64
 79  Guest Present              189 non-null    float64
 80  deal_amount_per_shark      267 non-null    float64
 81  equity_per_shark           267 non-null    float64
 82  Boot Strapped              447 non-null    int64
 83  Aman_deal                  447 non-null    int64
 84  Namita_deal                447 non-null    int64
 85  Vineeta_deal               447 non-null    int64
 86  Anupam_deal                447 non-null    int64
 87  peyush_deal                447 non-null    int64
 88  Amit_deal                  447 non-null    int64
 89  Guest1_present             189 non-null    object
 90  Guest2_present             16 non-null     object
 91  Ashneer Present            447 non-null    int64
dtypes: float64(57), int64(14), object(21)
memory usage: 324.8+ KB

In [20]:
df.to_csv('example.csv')

In [30]:

pitchers_business_details=['Business Description', 'Company Website','Started in ', 'Male Presenters',
       'Female Presenters', 'Transgender Presenters', 'Couple Presenters',
     'Pitchers City', 'Pitchers State',]
brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 'Gross Margin', 'Net Margin',
       'EBITDA', 'Cash Burn', 'SKUs', 'Has Patents', 'Bootstrapped',
       'Part of Match off']

In [23]:
df.columns

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Season End', 'Original Air Date', 'Episode Title',
       'Anchor', 'Industry', 'Business Description', 'Company Website',
       'Started in', 'Number of Presenters', 'Male Presenters',
       'Female Presenters', 'Transgender Presenters', 'Couple Presenters',
       'Pitchers Average Age', 'Pitchers City', 'Pitchers State',
       'Yearly Revenue', 'Monthly Sales', 'Gross Margin', 'Net Margin',
       'EBITDA', 'Cash Burn', 'SKUs', 'Has Patents', 'Bootstrapped',
       'Part of Match off', 'Original Ask Amount', 'Original Offered Equity',
       'Valuation Requested', 'Received Offer', 'Accepted Offer',
       'Total Deal Amount', 'Total Deal Equity', 'Total Deal Debt',
       'Debt Interest', 'Deal Valuation', 'Number of Sharks in Deal',
       'Deal Has Conditions', 'Royalty Percentage', 'Royalty Recouped Amount',
       'Advisory Shares Equity', 'Namita Investment Amount',
       'Namita Investment Equity', 'Namita Debt Amount',
       'Vineeta Investment Amount', 'Vineeta Investment Equity',
       'Vineeta Debt Amount', 'Anupam Investment Amount',
       'Anupam Investment Equity', 'Anupam Debt Amount',
       'Aman Investment Amount', 'Aman Investment Equity', 'Aman Debt Amount',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Peyush Debt Amount', 'Ritesh Investment Amount',
       'Ritesh Investment Equity', 'Ritesh Debt Amount',
       'Amit Investment Amount', 'Amit Investment Equity', 'Amit Debt Amount',
       'Guest Investment Amount', 'Guest Investment Equity',
       'Guest Debt Amount', 'Invested Guest Name', 'All Guest Names',
       'Namita Present', 'Vineeta Present', 'Anupam Present', 'Aman Present',
       'Peyush Present', 'Ritesh Present', 'Amit Present', 'Guest Present',
       'deal_amount_per_shark', 'equity_per_shark', 'Boot Strapped',
       'Aman_deal', 'Namita_deal', 'Vineeta_deal', 'Anupam_deal',
       'peyush_deal', 'Amit_deal', 'Guest1_present', 'Guest2_present',
       'Ashneer Present'],
      dtype='object')

In [25]:
Debt_details=['Total Deal Debt','Debt Interest','Namita Investment Amount', 'Vineeta Debt Amount','Anupam Debt Amount','Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

In [24]:
df['Guest Debt Amount'].value_counts()

Guest Debt Amount
15.00    1
99.00    1
34.50    1
12.50    1
41.66    1
Name: count, dtype: int64

In [28]:
sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity',  
                                 'Vineeta Investment Amount', 'Vineeta Investment Equity', 
                                 'Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity',  
                                 'Peyush Investment Amount', 'Peyush Investment Equity', 
                                 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

In [37]:
for i in sharks_ivestment_equity_details:
    df[i]=df[i].fillna(0)

In [31]:
df['Total Deal Debt'].value_counts()

Total Deal Debt
50.0     13
25.0     11
40.0      7
30.0      6
20.0      5
35.0      4
80.0      2
100.0     2
60.0      2
45.0      1
125.0     1
69.0      1
65.0      1
41.0      1
70.0      1
150.0     1
22.0      1
99.0      1
75.0      1
Name: count, dtype: int64

In [35]:
df['Accepted Offer']=df['Accepted Offer'].fillna(0)

C:\Users\nissi\AppData\Local\Temp\ipykernel_3792\281196768.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Accepted Offer']=df['Accepted Offer'].fillna(0)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 92 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              447 non-null    int64
 1   Startup Name               447 non-null    object
 2   Episode Number             447 non-null    int64
 3   Pitch Number               447 non-null    int64
 4   Season Start               447 non-null    object
 5   Season End                 447 non-null    object
 6   Original Air Date          447 non-null    object
 7   Episode Title              447 non-null    object
 8   Anchor                     447 non-null    object
 9   Industry                   447 non-null    object
 10  Business Description       447 non-null    object
 11  Company Website            437 non-null    object
 12  Started in                 325 non-null    float64
 13  Number of Presenters       447 non-null    int64
 14  Male Presenters            383 non-null    float64
 15  Female Presenters          209 non-null    float64
 16  Transgender Presenters     1 non-null      float64
 17  Couple Presenters          447 non-null    int64
 18  Pitchers Average Age       447 non-null    object
 19  Pitchers City              442 non-null    object
 20  Pitchers State             447 non-null    object
 21  Yearly Revenue             235 non-null    float64
 22  Monthly Sales              215 non-null    float64
 23  Gross Margin               126 non-null    float64
 24  Net Margin                 73 non-null     float64
 25  EBITDA                     23 non-null     float64
 26  Cash Burn                  61 non-null     object
 27  SKUs                       28 non-null     float64
 28  Has Patents                43 non-null     object
 29  Bootstrapped               48 non-null     object
 30  Part of Match off          4 non-null      object
 31  Original Ask Amount        447 non-null    float64
 32  Original Offered Equity    447 non-null    float64
 33  Valuation Requested        447 non-null    float64
 34  Received Offer             447 non-null    int64
 35  Accepted Offer             447 non-null    int64
 36  Total Deal Amount          267 non-null    float64
 37  Total Deal Equity          267 non-null    float64
 38  Total Deal Debt            62 non-null     float64
 39  Debt Interest              45 non-null     float64
 40  Deal Valuation             266 non-null    float64
 41  Number of Sharks in Deal   267 non-null    float64
 42  Deal Has Conditions        26 non-null     object
 43  Royalty Percentage         18 non-null     float64
 44  Royalty Recouped Amount    18 non-null     float64
 45  Advisory Shares Equity     3 non-null      float64
 46  Namita Investment Amount   447 non-null    float64
 47  Namita Investment Equity   447 non-null    float64
 48  Namita Debt Amount         17 non-null     float64
 49  Vineeta Investment Amount  447 non-null    float64
 50  Vineeta Investment Equity  447 non-null    float64
 51  Vineeta Debt Amount        12 non-null     float64
 52  Anupam Investment Amount   447 non-null    float64
 53  Anupam Investment Equity   447 non-null    float64
 54  Anupam Debt Amount         8 non-null      float64
 55  Aman Investment Amount     447 non-null    float64
 56  Aman Investment Equity     447 non-null    float64
 57  Aman Debt Amount           18 non-null     float64
 58  Peyush Investment Amount   447 non-null    float64
 59  Peyush Investment Equity   447 non-null    float64
 60  Peyush Debt Amount         12 non-null     float64
 61  Ritesh Investment Amount   447 non-null    float64
 62  Ritesh Investment Equity   447 non-null    float64
 63  Ritesh Debt Amount         7 non-null      float64
 64  Amit Investment Amount     447 non-null    float64
 65  Amit Investment Equity     447 non-null    float64
 66  Amit Debt Amount           7 non-null      float64
 67  Guest Investment Amount    447 non-null    float64
 68  Guest Investment Equity    447 non-null    float64
 69  Guest Debt Amount          5 non-null      float64
 70  Invested Guest Name        44 non-null     object
 71  All Guest Names            189 non-null    object
 72  Namita Present             388 non-null    float64
 73  Vineeta Present            317 non-null    float64
 74  Anupam Present             424 non-null    float64
 75  Aman Present               419 non-null    float64
 76  Peyush Present             306 non-null    float64
 77  Ritesh Present             60 non-null     float64
 78  Amit Present               136 non-null    float64
 79  Guest Present              189 non-null    float64
 80  deal_amount_per_shark      267 non-null    float64
 81  equity_per_shark           267 non-null    float64
 82  Boot Strapped              447 non-null    int64
 83  Aman_deal                  447 non-null    int64
 84  Namita_deal                447 non-null    int64
 85  Vineeta_deal               447 non-null    int64
 86  Anupam_deal                447 non-null    int64
 87  peyush_deal                447 non-null    int64
 88  Amit_deal                  447 non-null    int64
 89  Guest1_present             189 non-null    object
 90  Guest2_present             16 non-null     object
 91  Ashneer Present            447 non-null    int64
dtypes: float64(56), int64(15), object(21)
memory usage: 324.8+ KB

In [39]:
keyword='Ashneer Grover'
df['Ashneer_present']=df['All Guest Names'].apply(lambda x: 1 if pd.notna(x) and keyword in x else 0)

In [43]:
df['All Guest Names'] = df['All Guest Names'].apply(lambda x: x.replace(keyword, '').strip() if pd.notna(x) else x)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 93 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              447 non-null    int64
 1   Startup Name               447 non-null    object
 2   Episode Number             447 non-null    int64
 3   Pitch Number               447 non-null    int64
 4   Season Start               447 non-null    object
 5   Season End                 447 non-null    object
 6   Original Air Date          447 non-null    object
 7   Episode Title              447 non-null    object
 8   Anchor                     447 non-null    object
 9   Industry                   447 non-null    object
 10  Business Description       447 non-null    object
 11  Company Website            437 non-null    object
 12  Started in                 325 non-null    float64
 13  Number of Presenters       447 non-null    int64
 14  Male Presenters            383 non-null    float64
 15  Female Presenters          209 non-null    float64
 16  Transgender Presenters     1 non-null      float64
 17  Couple Presenters          447 non-null    int64
 18  Pitchers Average Age       447 non-null    object
 19  Pitchers City              442 non-null    object
 20  Pitchers State             447 non-null    object
 21  Yearly Revenue             235 non-null    float64
 22  Monthly Sales              215 non-null    float64
 23  Gross Margin               126 non-null    float64
 24  Net Margin                 73 non-null     float64
 25  EBITDA                     23 non-null     float64
 26  Cash Burn                  61 non-null     object
 27  SKUs                       28 non-null     float64
 28  Has Patents                43 non-null     object
 29  Bootstrapped               48 non-null     object
 30  Part of Match off          4 non-null      object
 31  Original Ask Amount        447 non-null    float64
 32  Original Offered Equity    447 non-null    float64
 33  Valuation Requested        447 non-null    float64
 34  Received Offer             447 non-null    int64
 35  Accepted Offer             447 non-null    int64
 36  Total Deal Amount          267 non-null    float64
 37  Total Deal Equity          267 non-null    float64
 38  Total Deal Debt            62 non-null     float64
 39  Debt Interest              45 non-null     float64
 40  Deal Valuation             266 non-null    float64
 41  Number of Sharks in Deal   267 non-null    float64
 42  Deal Has Conditions        26 non-null     object
 43  Royalty Percentage         18 non-null     float64
 44  Royalty Recouped Amount    18 non-null     float64
 45  Advisory Shares Equity     3 non-null      float64
 46  Namita Investment Amount   447 non-null    float64
 47  Namita Investment Equity   447 non-null    float64
 48  Namita Debt Amount         17 non-null     float64
 49  Vineeta Investment Amount  447 non-null    float64
 50  Vineeta Investment Equity  447 non-null    float64
 51  Vineeta Debt Amount        12 non-null     float64
 52  Anupam Investment Amount   447 non-null    float64
 53  Anupam Investment Equity   447 non-null    float64
 54  Anupam Debt Amount         8 non-null      float64
 55  Aman Investment Amount     447 non-null    float64
 56  Aman Investment Equity     447 non-null    float64
 57  Aman Debt Amount           18 non-null     float64
 58  Peyush Investment Amount   447 non-null    float64
 59  Peyush Investment Equity   447 non-null    float64
 60  Peyush Debt Amount         12 non-null     float64
 61  Ritesh Investment Amount   447 non-null    float64
 62  Ritesh Investment Equity   447 non-null    float64
 63  Ritesh Debt Amount         7 non-null      float64
 64  Amit Investment Amount     447 non-null    float64
 65  Amit Investment Equity     447 non-null    float64
 66  Amit Debt Amount           7 non-null      float64
 67  Guest Investment Amount    447 non-null    float64
 68  Guest Investment Equity    447 non-null    float64
 69  Guest Debt Amount          5 non-null      float64
 70  Invested Guest Name        44 non-null     object
 71  All Guest Names            189 non-null    object
 72  Namita Present             388 non-null    float64
 73  Vineeta Present            317 non-null    float64
 74  Anupam Present             424 non-null    float64
 75  Aman Present               419 non-null    float64
 76  Peyush Present             306 non-null    float64
 77  Ritesh Present             60 non-null     float64
 78  Amit Present               136 non-null    float64
 79  Guest Present              189 non-null    float64
 80  deal_amount_per_shark      267 non-null    float64
 81  equity_per_shark           267 non-null    float64
 82  Boot Strapped              447 non-null    int64
 83  Aman_deal                  447 non-null    int64
 84  Namita_deal                447 non-null    int64
 85  Vineeta_deal               447 non-null    int64
 86  Anupam_deal                447 non-null    int64
 87  peyush_deal                447 non-null    int64
 88  Amit_deal                  447 non-null    int64
 89  Guest1_present             189 non-null    object
 90  Guest2_present             16 non-null     object
 91  Ashneer Present            447 non-null    int64
 92  Ashneer_present            447 non-null    int64
dtypes: float64(56), int64(16), object(21)
memory usage: 328.3+ KB

In [42]:
df.to_csv("example3.csv")