In [1]:
import pandas as pd

In [14]:
df=pd.read_csv("Shark Tank India.csv")

df = df[df['Episode Title'] != 'Unseen']

df['Aman_deal'] = df['Aman Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Namita_deal'] = df['Namita Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Vineeta_deal'] = df['Vineeta Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Anupam_deal'] = df['Anupam Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['peyush_deal'] = df['Peyush Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Ritesh_deal'] = df['Ritesh Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)
df['Amit_deal'] = df['Amit Investment Amount'].map(lambda x: 1 if isinstance(x, (int, float)) and not pd.isna(x) else 0)


df['deal_amount_per_shark']=df['Total Deal Amount']/df['Number of Sharks in Deal']
df['equity_per_shark']=df['Total Deal Equity']/df['Number of Sharks in Deal']


df['Boot Strapped']=df['Bootstrapped'].map(lambda x: 1 if x in ['yes', 'funded'] else 0)
df.drop('Bootstrapped' , axis=1, inplace=True)
df['Pitchers State']=df['Pitchers State'].fillna(df['Pitchers State'].mode()[0])

general_info=['Season Number', 'Startup Name',
              'Episode Number', 'Pitch Number',
              'Episode Title','Anchor', 'Industry',
              'Number of Presenters','Pitchers Average Age',
              'Original Ask Amount', 'Original Offered Equity',
              'Valuation Requested', 'Received Offer', 'Accepted Offer',
              'Total Deal Amount', 'Total Deal Equity',  'Deal Valuation', 
              'Number of Sharks in Deal','Pitchers State']


time_details=['Season Start', 'Season End', 'Original Air Date']

pitchers_business_details=['Business Description','Company Website',
                           'Started in ', 'Male Presenters',
                           'Female Presenters', 'Transgender Presenters', 
                           'Couple Presenters','Pitchers City']

brand_renvue_details=['Yearly Revenue', 'Monthly Sales', 
                      'Gross Margin', 'Net Margin',
                      'EBITDA', 'Cash Burn',
                      'SKUs', 'Has Patents',
                      'Boot strapped','Part of Match off']

more_into_pitching_brands=['Deal Has Conditions', 'Royalty Percentage', 
                           'Royalty Recouped Amount','Advisory Shares Equity']

sharks_presence=['Namita Present', 
                 'Vineeta Present', 'Anupam Present',
                 'Aman Present','Peyush Present',
                 'Ritesh Present', 'Amit Present', 'Guest Present']

Debt_details=['Total Deal Debt','Debt Interest','Namita Debt Amount', 'Vineeta Debt Amount','Anupam Debt Amount','Aman Debt Amount', 'Peyush Debt Amount',
               'Ritesh Debt Amount', 'Amit Debt Amount','Guest Debt Amount']

sharks_ivestment_equity_details=['Namita Investment Amount','Namita Investment Equity',  
                                 'Vineeta Investment Amount', 'Vineeta Investment Equity', 
                                 'Anupam Investment Amount','Anupam Investment Equity',  
                                 'Aman Investment Amount', 'Aman Investment Equity',  
                                 'Peyush Investment Amount', 'Peyush Investment Equity', 
                                 'Ritesh Investment Amount', 'Ritesh Investment Equity',  
                                 'Amit Investment Amount', 'Amit Investment Equity',  
                                 'Guest Investment Amount', 'Guest Investment Equity']

guest_related=['All Guest Names',]


removing_col=brand_renvue_details+pitchers_business_details+sharks_ivestment_equity_details+Debt_details+more_into_pitching_brands
filtered_df=df.drop(columns=removing_col)

In [15]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447 entries, 0 to 477
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Season Number             447 non-null    int64
 1   Startup Name              447 non-null    object
 2   Episode Number            447 non-null    int64
 3   Pitch Number              447 non-null    int64
 4   Season Start              447 non-null    object
 5   Season End                447 non-null    object
 6   Original Air Date         447 non-null    object
 7   Episode Title             447 non-null    object
 8   Anchor                    447 non-null    object
 9   Industry                  447 non-null    object
 10  Number of Presenters      447 non-null    int64
 11  Pitchers Average Age      447 non-null    object
 12  Original Ask Amount       447 non-null    float64
 13  Original Offered Equity   447 non-null    float64
 14  Valuation Requested       447 non-null    float64
 15  Received Offer            447 non-null    int64
 16  Accepted Offer            314 non-null    float64
 17  Total Deal Amount         267 non-null    float64
 18  Total Deal Equity         267 non-null    float64
 19  Deal Valuation            266 non-null    float64
 20  Number of Sharks in Deal  267 non-null    float64
 21  Invested Guest Name       44 non-null     object
 22  All Guest Names           189 non-null    object
 23  Namita Present            388 non-null    float64
 24  Vineeta Present           317 non-null    float64
 25  Anupam Present            424 non-null    float64
 26  Aman Present              419 non-null    float64
 27  Peyush Present            306 non-null    float64
 28  Ritesh Present            60 non-null     float64
 29  Amit Present              136 non-null    float64
 30  Guest Present             189 non-null    float64
 31  Aman_deal                 447 non-null    int64
 32  Namita_deal               447 non-null    int64
 33  Vineeta_deal              447 non-null    int64
 34  Anupam_deal               447 non-null    int64
 35  peyush_deal               447 non-null    int64
 36  Ritesh_deal               447 non-null    int64
 37  Amit_deal                 447 non-null    int64
 38  deal_amount_per_shark     267 non-null    float64
 39  equity_per_shark          267 non-null    float64
dtypes: float64(18), int64(12), object(10)
memory usage: 143.2+ KB